.layout
    @import "_theme.sass"

    .form-container
        width: 72vw
        display: flex
        padding-top: vh
        flex-direction: column
        align-items: stretch
        justify-content: flex-start

        h3
            // color: $iot-black
            font-family: $font-headers
            text-align: center
            font-size: 2.4rem
            font-weight: 600
            
            background: -webkit-linear-gradient($primary-blue, $primary-green);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


        .create-company-form

            .nav-tabs
                margin-top: 2vh

                font-family:  $font-secondary

            .form-group

                .form-control
                    font-family: $font-primary

                .form-label, .form-text
                    font-family: $font-secondary
                    color: $blue-light-2
                    font-size: .8rem


            
        

            