.dashboard
    flex-direction: column
    align-items: center
    justify-content: flex-start
    .dash-overview
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 30vh
        padding-top: 8vh
    .dash-tabs
        display: flex
        flex-direction: column
        align-items: center
        width: 88vw
        .nav-tabs
            display: flex
            justify-content: space-between
            position: relative
            width: 100%
            max-width: 760px
