nav.nav
    @import "_theme.sass"
    display: flex
    justify-content: space-between
    align-items: center
    z-index: 99
    width: 100%
    top: -20px
    height: 8vh
    //     transition: all 

    .title-logo
        justify-self: stretch
        margin-left: 6vw
        font-family: $font-headers
        color: $iot-black
        font-weight: 800
        font-size: 2.4rem
        z-index: 101
            
    //     &.black 
    //         .title-logo
    //             color: $iot-black

    .side-menu
        &.open
            position: fixed
            top: 0